<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.Orders.Properties.Settings.jcproshopConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=saga;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Orders.Properties.Settings.fvConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=saga;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
