<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.Polls.Properties.Settings.AyamConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=Ayam;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="lw.Polls.Properties.Settings.Ayam_2011ConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=Ayam-2011;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Polls.Properties.Settings.fvConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=fv;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
