<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="lw.PhotoAlbums.Properties.Settings.GeneralConnectionString"
   connectionString="Data Source=DSGN69;Initial Catalog=ucclebanon.org;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
   providerName="System.Data.SqlClient" />
  <add name="lw.PhotoAlbums.Properties.Settings.qoloConnectionString"
   connectionString="Data Source=DSGN69;Initial Catalog=ucclebanon.org;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
   providerName="System.Data.SqlClient" />
  <add name="lw.PhotoAlbums.Properties.Settings._3ikarConnectionString"
   connectionString="Data Source=DSGN69;Initial Catalog=ucclebanon.org;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
