<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.Comments.Properties.Settings.mar_antonios_nazConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=mar-antonios-naz;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Comments.Properties.Settings.mar_antonios_nazConnectionString1" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=mar-antonios-naz;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
