<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.Ads.Properties.Settings._3ikarConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=3ikar;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Ads.Properties.Settings._3ikarConnectionString1" connectionString="Data Source=ALAIN-LAPTOP\SQL2005;Initial Catalog=3ikar;Persist Security Info=True;User ID=sa;Password=sei3a" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
