<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.Articles.Properties.Settings.DefaultConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=ism_2013;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Articles.Properties.Settings.test2ConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=test2;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="lw.Articles.Properties.Settings.GeneralConnectionString1" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=ism_2013;Persist Security Info=True;User ID=sa;Password=sabis"/>
        <add name="lw.Articles.Properties.Settings.ifsConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=ifs;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="lw.Articles.Properties.Settings.IASConnectionString" connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=IAS;Persist Security Info=True;User ID=sa;Password=P@55w0rd" providerName="System.Data.SqlClient"/>
        <add name="lw.Articles.Properties.Settings.sagaConnectionString" connectionString="Data Source=dssrv.interedlb.sabis.net,1433;Initial Catalog=saga;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
