<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.Searcher.Properties.Settings.sagaConnectionString" connectionString="Data Source=localhost;Initial Catalog=saga;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="lw.Searcher.Properties.Settings.SIS_responsiveConnectionString" connectionString="Data Source=dssrv.interedlb.sabis.net,1433;Initial Catalog=SIS_responsive;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
