<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pages.Properties.Settings.IASConnectionString" connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=IAS;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.IASConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=IAS;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.DCGConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=DCG;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.sicsConnectionString"
            connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=sics;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.sabis_netConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net,1433;Initial Catalog=isc-amman;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.iscmanamaConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=iscmanama;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.AIS_ALWADIConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=AIS_ALWADI;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.LAMYOConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=LAMYO;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.LAMYOConnectionString1"
            connectionString="Data Source=dssrv.interedlb.sabis.net,1433;Initial Catalog=LAMYO;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.testingDbConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=testingDb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.lbiapConnectionString"
            connectionString="Data Source=DSGN08;Initial Catalog=lbiap;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.lebanoninapictureConnectionString"
            connectionString="Data Source=DSGN08;Initial Catalog=lebanoninapicture;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.peerpackConnectionString"
            connectionString="Data Source=Nazirovich;Initial Catalog=peerpack;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lw.Pages.Properties.Settings.shmConnectionString"
            connectionString="Data Source=DSGn08;Initial Catalog=shm;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>