<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.Networking.Properties.Settings.sagaConnectionString" connectionString="Data Source=dsgn10\SQL2005;Initial Catalog=saga;Persist Security Info=True;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Networking.Properties.Settings.Regional_TournamentConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=Regional-Tournament;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Networking.Properties.Settings.sagaConnectionString1" connectionString="Data Source=dsgn10\SQL2005;Initial Catalog=saga;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
        <add name="lw.Networking.Properties.Settings.SLTCConnectionString" connectionString="Data Source=DSGN10\SQL2005;Initial Catalog=SLTC;User ID=sa;Password=sabis" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
