<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HashTags.Properties.Settings.LAMYOConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net;Initial Catalog=LAMYO;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>