<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lw.URLShortener.Properties.Settings.sabis_netConnectionString"
            connectionString="Data Source=dssrv.interedlb.sabis.net,1433;Initial Catalog=sabis.net;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="lw.URLShortener.Properties.Settings.sabis_netConnectionString1"
            connectionString="Data Source=DSSRV.interedlb.sabis.net;Initial Catalog=sabis.net;Persist Security Info=True;User ID=sa;Password=P@55w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>